body{
    
    background-image: url("https://oyster.ignimgs.com/mediawiki/apis.ign.com/ghost-of-tsushima/0/0b/TaleOfLordShimura_11.jpg?width=1280");
        
    background-size: cover;

}

.nameGhost{
    font-size: 100px;
    
    font-family: 'Inconsolata', monospace;
    font-family: 'Shadows Into Light', cursive;
    padding-right: 10 px;
    
}

h1{
    color: rgba(237, 175, 120, 0.867);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 39px;
}

.shusakuPicture{
    align-content: left;
    padding-left:39px;
    
}

.links{
    color: rgba(60, 109, 36, 0.841);
    padding-top: 200px;
    padding-bottom: 50px;
    
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
    background-color: rgba(19, 22, 22, 0.615);
    color: rgb(255, 255, 255);
    font-family: 'Changa', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: x-large;
}

.legend{
    font-family: 'Inconsolata', monospace;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    
    font-size: 80px;
    
}

.life{
    padding-left:150px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 80px;
    background-color: rgba(115, 239, 121, 0.497);
    
    margin:left auto;
    width:1000px;
}


.horizontal-list{
    list-style: none;
    padding:0;
    display: inline;
    margin-right:10px;
}

.container{
    padding-top: auto;
    padding-right: 20px;
    padding-bottom: 180px;
    padding-left: 20px;
}

.brand-logo{
    margin-left: auto;
    padding-left: 50px;
    display:block;
    transform: translatex(0);
    -webkit-transform: translatex(0);
}

.material-icons {
    color: #fff;
    font-size: 24px; /* Adjust the size as needed */
    margin-right: 20px; /* Adjust the margin to control spacing */
    align-self: flex;
}